<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>
            Welcome to the most awesome website on the net
        </h1>
        <p>You won't find a website better anywhere else!</p>(Speak only the truth ;)

        <p>
            <%= process.env.websitename %>
        </p>


        <ul style="color:black;float:left;"><% for(var key in process.env) {%>
           <li> <%= key %> => <%= process.env[key] %> </li>
            <% } %>
        </ul>

    </body>
</html>